<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Our Website</title>
  </head>
  <body>
    <div style="max-width: 992px; width: 100%; margin-inline: auto">
      {% include 'navbar.html' %}
      <h1 style="text-align: center">This is our About Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quaerat
        placeat voluptatum, voluptate vero et perspiciatis quasi assumenda dicta
        odio blanditiis provident magni doloribus velit? Commodi, tempora autem
        obcaecati qui totam saepe numquam at accusantium in, recusandae
        distinctio suscipit tenetur! Ipsum saepe consectetur, et incidunt
        explicabo at autem delectus neque.
      </p>
      <button style="padding: 7px 13px">Contact Us</button>
    </div>
  </body>
</html>
