<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
  </head>
  <body>
    <div style="max-width: 992px; width: 100%; margin-inline: auto">
      {% include 'navbar.html' %}
      <h1 style="text-align: center">Our Services</h1>
      <ul>
        <li>Web Development</li>
        <li>App Development</li>
        <li>SEO</li>
        <li>Hosting</li>
        <li>Advertising</li>
      </ul>
    </div>
  </body>
</html>
